.produtos{
    display: flex;
    flex-wrap: wrap;
    gap: 45px 0px;
    width: 1610px;
    padding: 5% 0%;
    margin-bottom: 40px;
}

@media (width <= 1783px) { .produtos{ width: 1380px;} }

@media (width <= 1533px){ .produtos{ width: 1150px; } }

@media (width <= 1277px){ .produtos{ width: 920px; } }

@media (width <= 1022px){ .produtos{ width: 690px; } }

@media (width <= 766px){ .produtos{ width: 460px; } }

@media (width <= 511px){ .produtos{ width: 230px; } }